---
layout: layout
title: "HaiHai"
---
{% include JB/setup %}

<section class="content">
<div id="main">
  <ul class="listing">
    {% for post in paginator.posts %}
      {% unless post.draft %}
      <li>
        <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
{% for tag in site.tags %}
  <ul class="tag_tag" id="{{ tag[0] }}-ref" style="display:none;">    
        <div class="category tagcloud">
                <h3>{{ tag[0] }}</h3>
        </div>
  </ul>
  <ul class="tag_post" style="display:none;">
          {% assign page_list_ex = tag[1] %}  
          {% include Inan/page_list_ex %}
  </ul>
{% endfor %}

</div>

{% include Inan/tag_select %}

</section>
<section class="widget">
<aside id="secondary" class="span-6 last">
        {% include site-sidebar.html %}
</aside>
</section>
<section class="foot">
  <a href="http://www.easycounter.com/">
<img src="http://www.easycounter.com/counter.php?test908"
border="0" alt="Web Counter"></a>Since 2016
<br>

</section>


