<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />


  <link rel="stylesheet" href="/theme/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/theme/css/site.css" type="text/css"/>
  <link href="/theme/css/animation.css" rel="stylesheet" type="text/css">
  
  <link href="/theme/css/fontello.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/theme/css/font-awesome.min.css" type="text/css"/>
  <link rel="stylesheet" href="/theme/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/theme/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/theme/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.useso.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <div class="main">
  <section class="wrap">
    {{ content }}
  </section>
  <section class="sidebar">
    <a href="/">
      <img src="{{ site.github.owner_gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
     <!--    <span id="fname">{{ site.name|split:' '|first }}</span> -->
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>
    <section class="meta">
      <a href="{{ site.github.owner_url }}" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://weibo.com/u/{{ site.weibo }}" target="_blank"><i class="fa fa-weibo"></i></a>
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
    </section>
    <section class="sections">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/projects.html">Portfolio</a></li>
        <li><a href="/startup">Startup</a></li>
        <li><a href="/resources.html">Resources</a></li>
        <li><a href="/presentation.html">Presentation</a></li>
        <li><a href="/philo">Philo</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </section>
</section>
{{ widget }}
</div>

<section class="foot">
  <a href="http://www.easycounter.com/">
<img src="http://www.easycounter.com/counter.php?test908"
border="0" alt="Web Counter"></a>@ 2016
<br>
</section>
<script type="text/javascript">
(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=9015297350279794277' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();
</script>
</body>

</html>
